.about {
    padding-left: 47px;
    padding-top: 35px;
    display: grid;
    grid-template: 1fr / 240px 1fr;
    column-gap: 72px;
}

.about__logo-wrapper {
    background-color: var(--black);
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__info {
    margin-top: 101px;
    display: flex;
    flex-direction: column;
}

.about__info-title {
    font: var(--40px);
    text-transform: uppercase;

    margin-bottom: 100px;
}

.about__info-p {
    font: var(--20px);
    line-height: var(--lh120);
    letter-spacing: .05px;
    word-spacing: .2px;

    margin-bottom: 24px;
}

.about__info-p:last-child {
    margin-bottom: 0;
}