.address {
    width: 240px;
}

.address-link {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.18px;
}

.address-location {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.2px;
}
