.footer {
    padding: 182px 46px 98px;
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr;
    justify-content: space-between;
    align-items: start;
}

.footer__address {
    margin-left: 4px;
    font-size: 18px;
    line-height: 135%;
}

.footer__socials {
    margin-right: 4px;
}