.socials-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap : 48px;
}

.socials-list-item {
    display: inline;
    list-style: none;
}

.socials-list-item:last-child {
    margin-right: 0;
}

.socials-icon {
    width: 48px;
    height: 48px;
}
