/*
font-weight helper :
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400	Normal (Regular)
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
*/

.typography_h2 {
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
}

.typography_h3 {
    font-size: 22px;
    line-height: 120%;
    font-style: normal;
    font-weight: bold;
}

.typography_p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.typography_a {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}